NODE_ENV=development

# Better Auth
BETTER_AUTH_API_KEY=
BETTER_AUTH_URL=http://localhost:3000

# Database (Neon PostgreSQL)
DATABASE_URL=

# Anthropic
ANTHROPIC_API_KEY=

# Seed (only needed when running db:seed-admin task)
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
